<head>
  <style>
    div.button
    {
      margin:0 auto;
      text-align:center;
    }
    
    h3.blocktext 
    {
    text-align:center;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 13em
    }
  </style>
</head>



<h3 class="blocktext">What do you want?</h3>
<%= form_with url: new_usercustomer_session_path, method: :get do |form1| %>
  <div class="button">
    <%= form1.submit "SIGN IN", class:"btn btn-primary" %>
  </div>
<% end %>
<%= form_with url: new_usercustomer_registration_path, method: :get do |form2| %>
  <div class="button">
    <%= form2.submit "REGISTRATION", class:"btn btn-primary" %>
  </div>
<% end %>